/*Importo i font*/
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url('https://fonts.cdnfonts.com/css/futura-std-4');

* {
  box-sizing: border-box;
}

html{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.contenitore{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body, .contenitore, .strato{
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%; 
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #24273a;
}
.strato{
  transition: background-size 400ms ease-out;
}

.nascosto{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  background-color: rgba(0,0,0,0);
  color:#24273a;
  width: 100vw;
  height: 100vh;

  z-index: 0;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

header{
  display: flex;
  justify-content: center;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  background-color: rgba(0,0,0,0);
}

ul {

    list-style-type: none;
}

li{
  display: flex;
  justify-content: center;
  border: 0px;
  padding: 0px;
  width: 100vw;
  height: inherit;
  text-decoration: none;
}

.titolo{
  z-index: -1;
  font-size: calc(2vw + 2rem);
  font-family: 'Futura Std';
  color:#a6da95;
  text-align: center;
}

.menu{
  background-color: rgba(0,0,0,0);
  justify-content: center;
}

.menu, ul {  
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

li {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.bottone {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  padding: 0;
  border: 0;
  font-family: 'Times New Roman', Times, serif;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  

  max-height: 30vh;

  border-radius: 1rem;

  transform: translate(0px,0px);
  transition: 
    transform 300ms ease-in-out, 
    border-radius 200ms ease-in-out;
}

.bottone:hover{
  border-radius: 3rem;
  cursor: pointer;
}


.a {background-color: #8aadf4;}
.b {background-color: #c6a0f6;}
.c {background-color: #ed8796;}
.d {background-color: #eed49f;}

.i {color:#24273a;
    font-size: 5rem;
}


/* Marquee */
.marquee-wrapper {
  overflow: hidden;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  padding: 1rem 0;
}

.marquee {
  display: flex;
  width: fit-content;
  animation: scroll 30s linear infinite;
  gap: 2rem;
}

.marquee img {
  height: 80px;
  flex-shrink: 0;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.1));
  transition: transform 0.3s;
}

.marquee img:hover {
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
